## HERMES - furosemide phenotype

#### Clone HeRmes repository

In [ ]:
#system("git clone https://github.com/nicksunderland/heRmes.git")

#### Pushing changes to Github

In [ ]:
# in ther terminal run
# cd /opt/notebooks
# dx download git_push.sh
# run bash git_push.sh

#### Project & record ID

In [1]:
projectid <- "project-GvZyZ20J81vgPJGbJy8pgpyq"
recordid  <- "record-Gvb0Bg0Jfxfv0q8Fb2pXqKjg"

#### Libraries

In [4]:
library(glue)
library(data.table)
library(yaml)
if (!requireNamespace("bit64", quietly = TRUE)) {
  install.packages("bit64")
}
suppressMessages(library(bit64))
source("/opt/notebooks/heRmes/R/ukbb_extraction_utils.R")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## Read in extracted data

In [5]:
# get the extract config
config <- read_yaml("/opt/notebooks/heRmes/scripts/ukbb_extraction_config.yml")

# take the required tables for this phenotyping
config <- config[c("participant", "hesin", "hes_diag", "hes_oper", "gp_clinical", "gp_scripts", "olink_instance_0", "olink_instance_2", "olink_instance_3")]

# function to 

# read data 
data <- list()
for (i in seq_along(config)) {
    
    file_path <- file.path("/mnt/project", config[[i]][["output"]])
    
    if (!file.exists(file_path)) {
        cat(glue("Error:\nFile {file_path} not found, ",
                 "check the Monitor tab for the status of the Table-exporter ",
                 "and the 'hermes_data' folder. If this has finished try ",
                 "launching another Notebook session/instance (I'm not sure why ",
                 "the mounted /mnt/project/ file structure doesn't refresh when ",
                 "files are added externally."), sep="\n")
        stop("file not found error")
    }
    
    n <- names(config)[i]
    cat(glue('...{n}: {file_path}\n'), sep="\n")
    flush.console()
    data[[n]] <- fread(file_path)
    rename_ukbb_cols(data[[n]], col_config=config[[i]][["columns"]])
    
}

lapply(data, head, n = 5)

...participant: /mnt/project/hermes3_data/data_participant.tsv
...hesin: /mnt/project/hermes3_data/data_hesin.tsv
...hes_diag: /mnt/project/hermes3_data/data_hesin_diag.tsv
...hes_oper: /mnt/project/hermes3_data/data_hesin_oper.tsv
...gp_clinical: /mnt/project/hermes3_data/data_gp_clinical.tsv
...gp_scripts: /mnt/project/hermes3_data/data_gp_scripts.tsv

Warning message in fread(file_path):
“Found and resolved improper quoting out-of-sample. First healed line 89832: <<5715998	3	2005-06-30		14.04.21.00.00		Typherix 25micrograms/0.5ml vaccine solution for injection pre-filled syringes (GlaxoSmithKline UK Ltd)	"1 - 0.5ml pre-filled syringe+ 23G 1\"& 25G 5/8\" needles">>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning.”

...olink_instance_0: /mnt/project/hermes3_data/data_olink_instance_0.tsv
...olink_instance_2: /mnt/project/hermes3_data/data_olink_instance_2.tsv
...olink_instance_3: /mnt/project/hermes3_data/data_olink_instance_3.tsv

$participant
       eid assessment_date      assessment_age reason_lost_fu   sex
     <int>          <IDat>              <POSc>          <int> <int>
1: 1000074      2009-03-20                <NA>             NA     0
2: 1000194      2009-06-27 2017-05-09 16:52:27             NA     1
3: 1000258      2008-05-02                <NA>             NA     1
4: 1000280      2008-04-28 2017-05-02 19:50:57             NA     1
5: 1000299      2009-06-13                <NA>             NA     0
   sample_collection_date_1 sample_collection_date_2 sample_collection_date_3
                     <POSc>                   <POSc>                   <POSc>
1:      2009-03-20 16:49:16                     <NA>                     <NA>
2:      2009-06-27 11:07:49                     <NA>      2019-07-03 15:17:56
3:      2008-05-02 18:19:27                     <NA>                     <NA>
4:      2008-04-28 18:36:55                     <NA>      2016-09-02 10:37:12
5:      2009-06-13 15:54:13                     <NA>                     <NA>
   sample_collection_date_4 weight_1 weight_2 weight_3 weight_4 height_1
                     <POSc>    <num>    <num>    <num>    <num>    <num>
1:                     <NA>     67.3       NA       NA       NA      162
2:                     <NA>     76.0       NA     76.1       NA      165
3:                     <NA>     85.5       NA       NA       NA      182
4:                     <NA>     84.5       NA     82.9       NA      175
5:                     <NA>     49.6       NA       NA       NA      160
   height_2 height_3 height_4   bmi_1 bmi_2   bmi_3 bmi_4 ethnicity_1
      <num>    <num>    <num>   <num> <num>   <num> <num>       <int>
1:       NA       NA       NA 25.6440    NA      NA    NA        1001
2:       NA    162.9       NA 27.9155    NA 28.6776    NA        1001
3:       NA       NA       NA 25.8121    NA      NA    NA        1001
4:       NA    175.0       NA 27.5918    NA 27.0694    NA        1001
5:       NA       NA       NA 19.3750    NA      NA    NA        1001
   ethnicity_2 ethnicity_3 ethnicity_4 genetic_sex genetic_ethnicity      pc1
         <int>       <int>       <int>       <int>             <int>    <num>
1:          NA          NA          NA           0                 1 -11.2546
2:          NA          NA          NA           1                 1 -11.9589
3:          NA          NA          NA           1                NA -12.7644
4:          NA        1001          NA           1                 1 -12.3484
5:          NA          NA          NA           0                 1 -12.3153
        pc2       pc3        pc4      pc5 self_rep_ill_1 self_rep_ill_2
      <num>     <num>      <num>    <num>          <int>          <int>
1: 3.867470  1.694130 -1.8339000 -6.58044           1351             NA
2: 2.585230 -2.532330 -0.6596200 -4.94291           1086             NA
3: 0.704641  0.550128  3.1239700 -7.03787           1065           1265
4: 4.465790 -1.581400  0.0703759 -1.89994           1436             NA
5: 2.796960  0.408848  0.9702480 -2.89163           1154             NA
   self_rep_ill_3 self_rep_ill_4 self_rep_ill_5 self_rep_ill_6 self_rep_ill_7
            <int>          <int>          <int>          <int>          <int>
1:             NA             NA             NA             NA             NA
2:             NA             NA             NA             NA             NA
3:           1465             NA             NA             NA             NA
4:             NA             NA             NA             NA             NA
5:             NA             NA             NA             NA             NA
   self_rep_ill_8 self_rep_ill_9 self_rep_ill_10 self_rep_ill_11
            <int>          <int>           <int>           <int>
1:             NA             NA              NA              NA
2:             NA             NA              NA              NA
3:             NA             NA              NA              NA
4:             NA             NA              NA              NA
5:             NA             NA              NA              NA
   self_rep_ill_12 self_rep_ill_13 self_rep_ill_14 self_rep_ill_15
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_16 self_rep_ill_17 self_rep_ill_18 self_rep_ill_19
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_20 self_rep_ill_21 self_rep_ill_22 self_rep_ill_23
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_24 self_rep_ill_25 self_rep_ill_26 self_rep_ill_27
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_28 self_rep_ill_29 self_rep_ill_30 self_rep_ill_31
             <int>           <int>          <lgcl>          <lgcl>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_32 self_rep_ill_33 self_rep_ill_34 self_rep_ill_35
            <lgcl>          <lgcl>          <lgcl>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_36 self_rep_ill_37 self_rep_ill_38 self_rep_ill_39
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_40 self_rep_ill_41 self_rep_ill_42 self_rep_ill_43
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_44 self_rep_ill_45 self_rep_ill_46 self_rep_ill_47
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_48 self_rep_ill_49 self_rep_ill_50 self_rep_ill_51
             <int>           <int>           <int>          <lgcl>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_52 self_rep_ill_53 self_rep_ill_54 self_rep_ill_55
            <lgcl>          <lgcl>          <lgcl>          <lgcl>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_56 self_rep_ill_57 self_rep_ill_58 self_rep_ill_59
            <lgcl>          <lgcl>          <lgcl>          <lgcl>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_60 self_rep_ill_61 self_rep_ill_62 self_rep_ill_63
            <lgcl>          <lgcl>          <lgcl>          <lgcl>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_64 self_rep_ill_65 self_rep_ill_66 self_rep_ill_67
            <lgcl>          <lgcl>          <lgcl>          <lgcl>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_68 self_rep_ill_69 self_rep_ill_70 self_rep_ill_71
            <lgcl>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA            1465              NA              NA
3:              NA              NA              NA              NA
4:              NA            1387            1476              NA
5:              NA              NA              NA              NA
   self_rep_ill_72 self_rep_ill_73 self_rep_ill_74 self_rep_ill_75
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_76 self_rep_ill_77 self_rep_ill_78 self_rep_ill_79
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_80 self_rep_ill_81 self_rep_ill_82 self_rep_ill_83
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_84 self_rep_ill_85 self_rep_ill_86 self_rep_ill_87
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_88 self_rep_ill_89 self_rep_ill_90 self_rep_ill_91
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_92 self_rep_ill_93 self_rep_ill_94 self_rep_ill_95
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_96 self_rep_ill_97 self_rep_ill_98 self_rep_ill_99
             <int>           <int>           <int>           <int>
1:              NA              NA              NA              NA
2:              NA              NA              NA              NA
3:              NA              NA              NA              NA
4:              NA              NA              NA              NA
5:              NA              NA              NA              NA
   self_rep_ill_100 self_rep_ill_101 self_rep_ill_102 self_rep_ill_103
              <int>            <int>            <int>            <int>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_104 self_rep_ill_105 self_rep_ill_106 self_rep_ill_107
              <int>            <int>            <int>            <int>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_108 self_rep_ill_109 self_rep_ill_110 self_rep_ill_111
              <int>            <int>            <int>            <int>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_112 self_rep_ill_113 self_rep_ill_114 self_rep_ill_115
              <int>            <int>            <int>            <int>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_116 self_rep_ill_117 self_rep_ill_118 self_rep_ill_119
              <int>            <int>            <int>            <int>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_120 self_rep_ill_121 self_rep_ill_122 self_rep_ill_123
              <int>            <int>            <int>            <int>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_124 self_rep_ill_125 self_rep_ill_126 self_rep_ill_127
             <lgcl>           <lgcl>           <lgcl>           <lgcl>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_128 self_rep_ill_129 self_rep_ill_130 self_rep_ill_131
             <lgcl>           <lgcl>           <lgcl>           <lgcl>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_132 self_rep_ill_133 self_rep_ill_134 self_rep_ill_135
             <lgcl>           <lgcl>           <lgcl>           <lgcl>
1:               NA               NA               NA               NA
2:               NA               NA               NA               NA
3:               NA               NA               NA               NA
4:               NA               NA               NA               NA
5:               NA               NA               NA               NA
   self_rep_ill_136 self_rep_ill_year_1 self_rep_ill_year_2 self_rep_ill_year_3
             <lgcl>               <num>               <num>               <num>
1:               NA              2006.5                  NA                  NA
2:               NA              1962.5                  NA                  NA
3:               NA              2005.2              1988.5              2003.5
4:               NA              1992.4                  NA                  NA
5:               NA              2007.5                  NA                  NA
   self_rep_ill_year_4 self_rep_ill_year_5 self_rep_ill_year_6
                 <num>               <num>               <num>
1:                  NA                  NA                  NA
2:                  NA                  NA                  NA
3:                  NA                  NA                  NA
4:                  NA                  NA                  NA
5:                  NA                  NA                  NA
   self_rep_ill_year_7 self_rep_ill_year_8 self_rep_ill_year_9

## Data processing

In [6]:
codes <- fread(file.path("/opt/notebooks", "heRmes", "inst", "extdata", "hermes_furosemide_codes", "hermes_furosemide_codes.tsv"))
codes[, code := sub("^'(.+?)'$", "\\1", code)]
head(codes)

  concept       code            code_type
1 Heart Failure 1076            ukbb_self_reported_illness
2 Heart Failure 0205052AEAAAAAA bnf
3 Heart Failure 0205052AEAAABAB bnf
4 Heart Failure 0205052AEAAACAC bnf
5 Heart Failure 0205052AEBBAAAA bnf
6 Heart Failure 0205052AEBBABAB bnf
  description
1 heart failure/pulmonary odema
2 Sacubitril/Valsartan_Tab 49mg/51mg
3 Sacubitril/Valsartan_Tab 97mg/103mg
4 Sacubitril/Valsartan_Tab 24mg/26mg
5 Entresto_Tab 49mg/51mg
6 Entresto_Tab 97mg/103mg

### Clean up the cohort data

In [7]:
ethnicity_codes <- list(
  white                 = 1,
  british               = 1001,
  white_black_caribbean = 2001,
  indian                = 3001,
  caribbean             = 4001,
  mixed                 = 2,
  irish                 = 1002,
  white_black_african   = 2002,
  pakistani             = 3002,
  african               = 4002,
  asian_or_asian_british= 3,
  any_other_white       = 1003,
  white_asian           = 2003,
  bangladeshi           = 3003,
  any_other_black       = 4003,
  black_or_black_british= 4,
  any_other_mixed       = 2004,
  any_other_asian       = 3004,
  chinese               = 5,
  other_ethnic_group    = 6)

data$participant[, ethnicity := fcoalesce(.SD), .SDcols = names(data$participant)[grepl("^ethnicity_[0-9]$", names(data$participant))]]

data$demog <- data$participant[, 
    list(eid               = eid,
         reason_lost_fu    = reason_lost_fu,
         age               = as.integer(age),
         assessment_date   = as.Date(assessment_date),
         sex               = factor(sex, levels = 0:1, labels = c("female", "male")),
         weight            = as.numeric(weight_1), 
         height            = as.numeric(height_1), 
         bmi               = as.numeric(bmi_1),
         ethnicity         = factor(ethnicity, levels = unlist(ethnicity_codes), labels = names(ethnicity_codes)),
         ethnicity_group   = factor(sub("([0-9])00[0-9]", "\\1", ethnicity), levels = unlist(ethnicity_codes), labels = names(ethnicity_codes)),
         genetic_sex       = factor(genetic_sex, levels = 0:1, labels = c("female", "male")),
         genetic_ethnicity = factor(genetic_ethnicity, levels = 1, labels = c("caucasian")), 
         pc1               = pc1,
         pc2               = pc2,
         pc3               = pc3,
         pc4               = pc4,
         pc5               = pc5)]

ERROR: Error in eval(jsub, SDenv, parent.frame()): object 'age' not found

### Self-report illness codes to long

In [ ]:
self_rep_code_cols <- grep("self_rep_ill_[0-9]+",      names(data$participant), value = TRUE)
self_rep_year_cols <- grep("self_rep_ill_year_[0-9]+", names(data$participant), value = TRUE)
data$participant[, (self_rep_code_cols) := lapply(.SD, as.character), .SDcols = self_rep_code_cols]
data$participant[, (self_rep_year_cols) := lapply(.SD, as.numeric),   .SDcols = self_rep_year_cols]
data$self_illness <- data.table::melt(data$participant,
                                      id.vars = "eid",
                                      measure = patterns("self_rep_ill_[0-9]+", "self_rep_ill_year_[0-9]+"),
                                      variable.name = "element",
                                      value.name = c("code", "year"),
                                      na.rm = TRUE)
data$self_illness <- data$self_illness[year != -1 & year != -3] # unknown / prefer not to answer
data$self_illness[, `:=`(date      = lubridate::ymd(paste0(as.character(floor(year)), "-01-01")) + lubridate::days(as.integer(365.25 * (year - floor(year)))),
                         year      = NULL,
                         element   = NULL,
                         code      = as.character(code),
                         code_type = "ukbb_self_reported_illness")]

# check self report illness table
stopifnot("unable to parse dates for self-reported illness codes" = all(!is.na(data$self_illness$date)))
stopifnot("are you sure something happened before 1900?" = all(data$self_illness$date > as.Date("1900-01-01")))

### Self-report medication codes to long

In [ ]:
self_med_code_cols <- grep("self_rep_med_[0-9]+", names(data$participant), value = TRUE)
data$participant[, (self_med_code_cols) := lapply(.SD, as.character), .SDcols = self_med_code_cols]
data$smed <- data.table::melt(data$participant,
                              id.vars = "eid",
                              measure = patterns("self_rep_med_[0-9]+"),
                              variable.name = "element",
                              value.name = c("code"),
                              na.rm = TRUE)
data$smed[, `:=`(date      = as.Date(NA_real_),
                 element   = NULL,
                 code      = as.character(code),
                 code_type = "ukbb_self_reported_medication")]

### OLINK codes to long

In [ ]:
data$olink <- rbindlist(list(
    data$olink_instance_0[data$participant, date := i.sample_collection_date_1, on="eid"] |> melt(id.vars=c("eid","date"), measure.vars=c("ntprobnp","glp1r"), value.name="value", variable.name="measure"), 
    data$olink_instance_2[data$participant, date := i.sample_collection_date_3, on="eid"] |> melt(id.vars=c("eid","date"), measure.vars=c("ntprobnp"), value.name="value", variable.name="measure"), 
    data$olink_instance_3[data$participant, date := i.sample_collection_date_4, on="eid"] |> melt(id.vars=c("eid","date"), measure.vars=c("ntprobnp"), value.name="value", variable.name="measure")
)) 
data$olink <- data$olink[, .(eid, date=as.Date(date), code=paste(measure, value, sep="="), code_type = "olink")]

### Blood tests to long

In [ ]:
data$bloods <- rbind(
    data.table::melt(data$participant, 
                     id.vars = "eid", 
                     measure = patterns(code="creatinine_(1|2)", date="sample_collection_date_(1|2)"),
                     na.rm = TRUE)[, code := paste0("creatinine=", code)],
    data.table::melt(data$participant, 
                     id.vars = "eid", 
                     measure = patterns(code="cystatin_c_(1|2)", date="sample_collection_date_(1|2)"),
                     na.rm = TRUE)[, code := paste0("cystatin_c=", code)]
)
data$bloods[, `:=`(variable  = NULL,
                   date      = as.Date(date),
                   code_type = "blood_tests")]

### Inpatient diagnosis codes

In [ ]:
data$hesin[is.na(epistart) | epistart == "", epistart := admidate]
data$hes_diag[data$hesin, date := as.Date(i.epistart), on = c("eid", "ins_index")]
data$hes_diag[diag_icd9 == "", diag_icd9 := NA_character_]
data$hes_diag[diag_icd10 == "", diag_icd10 := NA_character_]
data$hes_diag <- data.table::melt(data$hes_diag,
                                  id.vars = c("eid", "date"),
                                  measure.vars  = c("diag_icd9", "diag_icd10"),
                                  variable.name = "code_type",
                                  value.name = "code",
                                  na.rm = TRUE)
data$hes_diag[, code_type := data.table::fcase(code_type == "diag_icd9", "icd9",
                                               code_type == "diag_icd10", "icd10")]

### GP activity data

In [ ]:
data$gp_clinical[read_2 == "", read_2 := NA_character_]
data$gp_clinical[read_3 == "", read_3 := NA_character_]
data$gp_clinical <- data.table::melt(data$gp_clinical,
                                     id.vars = c("eid", "date"),
                                     measure.vars  = c("read_2", "read_3"),
                                     variable.name = "code_type",
                                     value.name = "code",
                                     na.rm = TRUE)
data$gp_clinical[, code_type := data.table::fcase(code_type == "read_2", "read2",
                                                  code_type == "read_3", "read3")]

### GP medication data

In [ ]:
data$gp_scripts[read_2 == "", read_2 := NA_character_]
data$gp_scripts[bnf_code == "", bnf_code := NA_character_]
data$gp_scripts[, dmd_code := as.character(dmd_code)]
data$gp_scripts <- data.table::melt(data$gp_scripts,
                                    id.vars = c("eid", "date"),
                                    measure.vars  = c("read_2", "bnf_code", "dmd_code"),
                                    variable.name = "code_type",
                                    value.name = "code",
                                    na.rm = TRUE)
data$gp_scripts[, code_type := data.table::fcase(code_type == "read_2",   "read_med",
                                                 code_type == "bnf_code", "bnf",
                                                 code_type == "dmd_code", "dmd")]

### Combine all codes and annotate concepts

In [ ]:
combined <- rbind(data$self_illness, data$smed, data$hes_diag, data$gp_clinical, data$gp_scripts, data$bloods, data$olink)
combined <- codes[combined, on = c("code" = "code", "code_type" = "code_type"), allow.cartesian = TRUE]
head(combined)

### Save all ICD-10 codes

In [ ]:
library(data.table)
all_icd10_codes <- combined[code_type=="icd10"][, .(all_icd10_codes = paste0(unique(code),collapse=";")), by=eid]
data$demog[all_icd10_codes, all_icd10_codes := i.all_icd10_codes, on="eid"]

### Annotate individuals with code:code_type counts

In [ ]:
combined[code_type %in% c("olink", "blood_tests"), c("concept", "code") := tstrsplit(code, "=", fixed = TRUE)]
combined <- combined[!is.na(concept)] # discard non-annotated codes
combined[, concept := tolower(gsub(" ","_",concept))] # rename
combined[, code := paste0(date,"#",code)]
d <- dcast(combined, eid ~ concept + code_type, value.var = "code",  
           fun.aggregate = function(x) paste(x, collapse = ";"))
d[, heart_failure := ifelse(apply(.SD, 1, function(x) any(x != "" & !is.na(x))), "1", ""), .SDcols = names(d)[grepl("^heart_failure", names(d))]]
d[, loop_diuretic := ifelse(apply(.SD, 1, function(x) any(x != "" & !is.na(x))), "1", ""), .SDcols = names(d)[grepl("^loop_diuretic", names(d))]]

### Combine with full cohort

In [ ]:
base_cols <- c("eid", "age", "assessment_date", "sex", "ethnicity", "ethnicity_group","genetic_sex", "genetic_ethnicity", paste0("pc",1:5), "all_icd10_codes")
measure_cols <- names(d)[names(d) != "eid"]
cohort <- d[data$demog[,mget(base_cols)], on="eid"]
#head(cohort)
cohort[, (measure_cols) := lapply(.SD, function(x) fifelse(is.na(x),"",x)), .SDcols=measure_cols]
setcolorder(cohort, base_cols)
head(cohort)
                                  
cohort[data$gp_clinical[,"eid"], any_gp := "1", on="eid"][is.na(any_gp), any_gp := ""]
cohort[data$gp_scripts[,"eid"], any_gp_med := "1", on="eid"][is.na(any_gp_med), any_gp_med := ""]
cohort[data$hes_diag[,"eid"], any_hes := "1", on="eid"][is.na(any_hes), any_hes := ""]

measure_cols <- names(cohort)[!names(cohort) %in% base_cols]
summary <- data.table (name = c("total", measure_cols), N = c(nrow(cohort), cohort[, .(sapply(.SD, function(x) sum(!is.na(x) & x!=""))), .SDcols = measure_cols]$V1))
head(summary,100)                                                          

fwrite(summary,
       file = "/opt/notebooks/hermes_furosemide_phenotype_summary.tsv",
       sep  = "\t")
                                                                                              
# write out
fwrite(cohort,
       file = "/opt/notebooks/hermes_furosemide_phenotypes.tsv.gz",
       sep  = "\t")

### Copy output to project

In [ ]:
o <- system("dx upload /opt/notebooks/hermes_furosemide_phenotype_summary.tsv /opt/notebooks/hermes_furosemide_phenotypes.tsv.gz --destination hermes_furosemide_data", intern = TRUE)
cat(o, sep = "\n")